<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default "en" }}" dir="ltr">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <header>
    {{- if templates.Exists "partials/header.html" -}}
      {{ partial "header.html" . }}
    {{- else -}}
      <nav class="path-nav">
        <ol>
          <li class="current"><a href="/">{{ site.Title }}</a></li>
        </ol>
      </nav>
    {{- end -}}
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    {{- if templates.Exists "partials/footer.html" -}}
      {{ partial "footer.html" . }}
    {{- end -}}
  </footer>
</body>
</html>
